
input.search {
  width: 150px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  display: block;
  float: right;
  background: rgba($white, .5);
}

select {
  background: rgba($white, .5);
  width: 100px;
  padding: 5px;
  display: inline-block;
}

form {
  margin-top: 20px;
  float: left;
  .col {
    width: 50%;
    float: left;
  }
  input[type=text], input[type=url] {
    width: 90%;
    margin-right: 10%;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  label {
    width: 90%;
    font-family: 'pt mono';
    color: $darkGrey;
    margin-bottom: 5px;
    float: left;
  }
  textarea {
    width: 100%;
    border: none;
    height: 132px;
  }
}
