nav {
  background: blue;
  width: 1000px;
  margin: 50px auto 0;
  background: rgba(206, 212, 195, 0.75);
  padding: 50px 100px 0;
}

.addPost {
  clear: both;
  width: 100%;
  background: #fff;
}

.info {
  width: 100%;
  float: right;
}
